@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Details</h2>
<hr />
<h2>@Html.DisplayNameFor(model => model.Stylist): @Html.DisplayFor(model => model.Stylist.Name)<h2>
<h3>@Html.DisplayNameFor(model => model.ClientDescription): @Html.DisplayFor(model => model.ClientDescription)<h3>


<p>@Html.ActionLink("Edit Client", "Edit",null, new { id = Model.ClientId })</p>
<p>@Html.ActionLink("Delete Client", "Delete",null, new { id = Model.ClientId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>